$white: #fff;

.Btn {
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 100%;
  margin-right: 0.25em;
  min-height: 38px;
  outline: none;
  padding: 0.75em 1.25em;
  text-align: center;
  transition: $transition;
  width: auto;

  &:disabled {
    cursor: not-allowed;
  }

  &.block {
    width: 100%;

    .Btn-label {
      align-items: center;
      justify-content: center;
    }
  }

  &:active {
    border-color: $white;
    border-width: inherit;
  }

  &.default {
    background-color: $white;
    border: 1px solid $white;
    color: #000000;

    &:hover {
      box-shadow: inset 1px 2px 20px shade($white, 10%);
    }

    &.outline {
      background-color: $white;
      color: $gray;

      &:hover {
        background-color: $gray;
        color: $white;
      }
    }
  }

  &.primary {
    background-color: $orange;
    border: 1px solid $orange;
    color: $white;

    &:hover {
      box-shadow: inset 1px 2px 20px shade($orange, 10%);
    }

    &:disabled {
      background-color: shade($orange, 20%);
      border-color: inherit;
      color: shade($white, 10%);
    }

    &.outline {
      background-color: $white;
      color: $orange;

      &:hover {
        background-color: $orange;
        color: $white;
      }
    }
  }

  &.success {
    background-color: $green;
    border: 1px solid $green;
    color: $white;

    &:hover {
      box-shadow: inset 1px 2px 20px shade($green, 10%);
    }

    &:disabled {
      background-color: shade($green, 20%);
      border-color: inherit;
      color: shade($white, 10%);
    }

    &.outline {
      background-color: $white;
      color: $green;

      &:hover {
        background-color: $green;
        color: $white;
      }
    }
  }

  &.danger {
    background-color: $red;
    border: 1px solid $red;
    color: $white;

    &:hover {
      box-shadow: inset 1px 2px 20px shade($red, 10%);
    }

    &:disabled {
      background-color: shade($red, 20%);
      border-color: inherit;
      color: shade($white, 10%);
    }

    &.outline {
      background-color: $white;
      color: $red;

      &:hover {
        background-color: $red;
        color: $white;
      }
    }
  }

  &.info {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;

    &:hover {
      box-shadow: inset 1px 2px 20px shade($blue, 10%);
    }

    &:disabled {
      background-color: shade($blue, 20%);
      border-color: inherit;
      color: shade($white, 10%);
    }

    &.outline {
      background-color: $white;
      color: $blue;

      &:hover {
        background-color: $blue;
        color: $white;
      }
    }
  }

  &-label {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1em;
    justify-content: center;
  }
}
