// colors

$primary: rgb(0, 163, 228);
$bodyColor: #eaeaea;

// Palette
$red: #ce5239;
$orange: #f47735;
$yellow: #ffbd4d;
$lime: #b5d55e;
$green: #5cae60;
$cyan: #53b8c6;
$blue: #5099ce;
$purple: #a870bd;
$pink: #d66087;
$gray: #999;
